@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
  
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
